<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="GraphDBUrl" value="http://localhost:7474/db/data"/>

    <!-- Leaving these blank will use no authentication -->
    <add key="GraphDBUser" value=""/>
    <add key="GraphDBPassword" value=""/>
  </appSettings>
</configuration>
